/*
    Colour scheme: https://coolors.co/bcabae-0f0f0f-2d2e2e-716969-fbfbfb
*/
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: #BCABAE;
}

.navbar {
    background-color: #0F0F0F;
}

h1 {
    font-weight: 1000;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("img/background.jpg");
    color: #FBFBFB;
    font-family: "Poetsen One", sans-serif;
    font-size: 250%;
}

img {
    height: 20em;
}

.block1 {
    background-color: #BCABAE;
    padding: 30px;
}

.block2 {
    padding: 30px;
    background-color: #716969;
    color: #FBFBFB;
}

.active {
    font-weight: bolder;
}

.btn {
    margin: 10px;
}

.navbar-toggler-icon {
    background-color: #716969;
    border: 2px solid #2D2E2E;
    border-radius: 5px;
}

footer {
    margin: 20px;
    background-color: #0F0F0F;
    padding: 20px;
    color: #FBFBFB;
    text-align: center;
    font-size: 75%;
    font-family: sans-serif;
}

.noncontainer {
    margin: 20px;
}

h2 {
    font-size: 200%;
    font-weight: 600;
}

h3 {
    font-size: 150%;
    font-weight: 500;
}

h4 {
    font-size: 125%;
    font-weight: 400;
}

p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 100%;
}

.img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

aside {
    font-style: italic;
}

article {
    text-align: left;
}