/*
    Colour scheme: https://coolors.co/bcabae-0f0f0f-2d2e2e-716969-fbfbfb
*/

body {
    background-color: #BCABAE;
}

.navbar {
    background-color: #0F0F0F;
}

h1 {
    font-weight: 1000;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("img/background.jpg");
    color: #FBFBFB;
}

img {
    height: 20em;
}

.block1 {
    background-color: #BCABAE;
    padding: 30px;
}

.block2 {
    padding: 30px;
    background-color: #716969;
    color: #FBFBFB;
}

.active {
    font-weight: bolder;
}

.btn {
    margin: 10px;
}

.navbar-toggler-icon {
    background-color: #716969;
    border: 2px solid #2D2E2E;
    border-radius: 5px;
}